<section class="contact">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24484.807027461065!2d30.047596805590825!3d39.9055674429122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1687251565670!5m2!1str!2str" width="600" height="450" style="border:0;"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="items">
        <h1 class="heading">Contact <span class="heading-mark">Us</span> </h1>
        <ul>
            <li>Our <span class="mark">Telephone Number 1 :</span> +123 456 78 90 </li>
            <li>Our <span class="mark">Telephone Number 2: </span> +111 222 33 44</li>
            <li>Our <span class="mark">E-mail Address: </span> mehmetburakbaloglu@gmail.com</li>
            <li>Our <span class="mark">Location: </span> Bozuyuk, Bilecik, Turkey</li>
        </ul>
    </div>
</section>