.navbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.navbar .logo img {
    width: 100%;
    height: 70px;
    margin-left: 20px;
}

.navbar .items ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .items ul li {
    list-style-type: none;
}

.navbar .items ul li a {
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
    border-radius: var(--border-radius);
}

.navbar .items ul li a:hover {
    background-color: var(--white);
    color: var(--primary-color);
}