<section class="about">
    <h1 class="heading">About <span class="heading-mark">Us</span></h1>
    <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi suscipit rem facilis architecto laboriosam soluta debitis quidem temporibus, ex a nobis cumque perferendis eos harum consectetur. Neque labore id dignissimos commodi iure itaque,
            ipsum eligendi cum placeat officiis. Voluptas eos at voluptate voluptatum dolores aliquam sapiente! Aliquam incidunt qui maiores, nostrum blanditiis, repudiandae iste consequatur nulla hic eveniet ullam possimus ab in. Provident, velit nisi
            blanditiis exercitationem impedit laborum illum minima vero consequatur rerum! Velit quis facere voluptatibus numquam iste libero maxime obcaecati porro? Accusamus culpa molestiae provident, quis ea unde illo in tempora eum laboriosam similique
            ipsam molestias neque.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta nam ea eum, repellat quia quisquam rem dolor sapiente architecto? Excepturi incidunt, quae veniam consequatur pariatur vitae molestias quia, autem, recusandae voluptas perferendis
            soluta neque repellendus sint ex tempore harum. Omnis suscipit saepe magnam dolores debitis quas impedit quisquam aut quibusdam nobis mollitia ipsa, distinctio, ipsam, ut asperiores assumenda. Provident illo exercitationem eius quo. Consequuntur,
            architecto adipisci veniam excepturi cumque suscipit? Laudantium natus commodi sint ipsa placeat. Numquam voluptatum ducimus consequatur, repellat perspiciatis ipsum aliquid odio minima eligendi praesentium. Nesciunt dolorum, enim consequuntur
            a est cum earum fugiat qui vitae tenetur.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia provident impedit commodi ea quibusdam reiciendis ullam perspiciatis obcaecati magni nemo sed, fuga eveniet sapiente earum nostrum quia repellendus architecto tempora exercitationem
            ad? Repellendus delectus, quod provident facere sed dolorum pariatur placeat quis exercitationem dolores facilis omnis cum qui nemo odio quia recusandae consectetur consequuntur hic, earum nisi! Animi nihil autem expedita amet. Itaque, labore
            temporibus repudiandae eligendi repellat animi. Earum quae dolorum aspernatur quia neque qui laudantium temporibus perspiciatis maiores provident numquam, aliquid asperiores beatae accusamus incidunt amet repellendus quisquam nostrum dolor
            quo adipisci pariatur! Quisquam dicta vitae quaerat ipsa.</p>
    </div>
</section>