<section class="gallery">
    <h1 class="heading">Our <span class="heading-mark">Gallery</span></h1>
    <div class="items">
        <img src="../../../assets/img/banner-1.png " alt="">
        <img src="../../../assets/img/brick-wall-1834784_1920.jpg" alt="">
        <img src="../../assets/img/food-galler-img-1.jpg" alt="">
        <img src="../../assets/img/food-galler-img-2.jpg" alt="">
        <img src="../../assets/img/food-galler-img-6.jpg" alt="">
        <img src="../../assets/img/g-1.jpg" alt="">
        <img src="../../assets/img/g-7.jpg" alt="">
        <img src="../../assets/img/home-slide-1.jpg" alt="">
        <img src="../../assets/img/home-slide-2.jpg" alt="">
        <img src="../../assets/img/home-slide-3.jpg" alt="">
        <img src="../../assets/img/menu-3.jpg" alt="">
        <img src="../../assets/img/menu-4.jpg" alt="">
        <img src="../../assets/img/order-img.jpg" alt="">
    </div>
</section>