<section class="review">
    <h1 class="heading">Customer <span class="heading-mark">Reviews</span></h1>
    <form action="">
        <input class="form-comp" type="text" name="" placeholder="Enter your name" id="">
        <input class="form-comp" type="number" name="" placeholder="Enter your number" id="">
        <input class="form-comp" type="email" name="" placeholder="Enter your email" id="">
        <textarea class="form-text" name="" placeholder="Enter your message" id="" cols="30" rows="10"></textarea>
        <button class="btn" type="submit">Submit</button>
    </form>
</section>